/* ########################### */
/* Devon RFU Colts Style Sheet */
/* ########################### */

/* ########################## */
/*########### BODY ###########*/
/* ########################## */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #2e2e2e;
}

.links {
    color: #00a755;
    text-decoration: none;
    transition: all 0.3s;
}

.links:hover {
    color: white;
}

/* ########################## */
/*########## HEADER ##########*/
/* ########################## */

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #1d1d1d;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    transition: 0.3s;

}

#main-header.scrolled {
    background-color: transparent;
    backdrop-filter: blur(5px);
    
}


/* Logo */
#head-logo-wrap {
    margin: 5px;
    margin-left: 20px;
}

#head-logo {
    height: 80px;
}


/* Nav Buttons */
.nav-buttons {
    position: relative;
    padding: 8px 0;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 7px 15px;
    
}

.nav-buttons::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 50%;
    height: 3px;
    background-color: #00a755;
    border-radius: 10px;
    transform: translateX(-50%) scaleX(0);
    transition: transform 0.3s ease;
    transform-origin: center;
}

.nav-buttons:hover::after {
    transform: translateX(-50%) scaleX(1);
    
}

.nav-buttons.active::after {
    transform: translateX(-50%) scaleX(1);
}


/* Log in & Sign Up Buttons */
.account-buttons {
    display: inline-block;
    text-decoration: none;
    padding: 7px 15px;
    
}

#account-buttons {
    display: flex;
    gap: 20px;
    margin-right: 20px;

}

#log-in-button {
    border: solid 2px #00a755;
    border-radius: 10px;
    color: #00a755;
    transition: 0.3s;
}

#log-in-button:hover {
    box-shadow: #00a755 0px 0px 7px;
}

#sign-up-button {
    border: solid 2px #00a755;
    border-radius: 10px;
    background-color: #00a755;
    color: white;
    transition: 0.3s;
}

#sign-up-button:hover {
    box-shadow: #00a755 0px 0px 7px;
}











/* home banner */
#home-banner {
    width: 100%;
    height: auto;
    display: block;
}










/* ########################## */
/*########## FOOTER ##########*/
/* ########################## */

footer {
    /* background-image: url(../static/tex-dark.jpg);
    background-size: cover; */
    background-color: #1d1d1d;
    color: white;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.alt-links {
    color: white;
    text-decoration: none;
    transition: all 0.3s;
}

.alt-links:hover {
    color: #00a755;
}

#footer-content-wrap {
    margin-left: 30px;
    margin-right: 30px;
}

#footer-section-1 {
    display: flex;
    justify-content: space-between;
}

#footer-sect-1-fract-1 {
    display: flex;
    align-items: center;
}

#footer-sect-1-fract-2 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

#footer-sect-1-fract-3 {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* #footer-sect-1-fract-4 {

} */

#footer-section-2 {
    display: flex;
    justify-content: space-between;
}