{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<section class="hero-banner">
	<img src="../static/drfuc-homeslide.jpg" alt="Devon RFU Colts Banner" id="home-banner">
	<div class="hero-text hero-left">
		<h1>THE HEART OF <span class="highlight-green">YOUTH</span></h1>
		<h1>RUGBY IN <span class="highlight-green">DEVON</span></h1>
	</div>
	<div class="hero-ctas-wrap">
		<div class="hero-ctas">
			<a href="/overview" class="hero-cta hero-cta-primary">What We're About</a>
			<a href="/fixtures-results" class="hero-cta hero-cta-outline">What's On</a>
		</div>
	</div>
</section>

<!-- <section class="next-match">
	<div id="">

	</div>

</section> -->

{% endblock %}